Repository ElBeenMachine/portfolio-dashboard-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: get_project_version, create_release, update_version

.gitlab-ci.yml:

# Define the stages
stages:
    - release

# Get the project version
get_project_version:
    stage: release
    image: node:23-alpine
    script:
        - export VERSION=$(node -p "require('./package.json').version")
        - echo "VERSION=$VERSION" >> variables.env
    before_script: []
    services: []
    artifacts:
        reports:
            dotenv: variables.env
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
          changes:
              - public/**
              - src/**
              - .dockerignore
              - Dockerfile
              - next.config.ts
              - package.json
              - package-lock.json
              - postcss.config.mjs
              - tailwind.config.ts
              - tsconfig.json

# Create a release
create_release:
    stage: release
    needs:
        - job: get_project_version
          artifacts: true
    image: registry.gitlab.com/gitlab-org/release-cli:latest
    script:
        - echo "Creating release $VERSION"
    release:
        name: Release $VERSION
        tag_name: $VERSION
        description: |
            This is the release for version $VERSION
        ref: $CI_COMMIT_SHA
        assets:
            links:
                - name: "Docker Image"
                  url: https://hub.docker.com/r/$DOCKER_USER/portfolio-dashboard
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
          changes:
              - public/**
              - src/**
              - .dockerignore
              - Dockerfile
              - next.config.ts
              - package.json
              - package-lock.json
              - postcss.config.mjs
              - tailwind.config.ts
              - tsconfig.json

.gitlab/jobs/02. version.yaml:

# Update the version of the project
update_version:
    stage: version
    before_script: []
    script:
        - labels=$(echo "$CI_MERGE_REQUEST_LABELS")
        - if [[ $labels =~ "patch" ]]; then
          npm version patch
          elif [[ $labels =~ "minor" ]]; then
          npm version minor
          elif [[ $labels =~ "major" ]]; then
          npm version major
          else
          echo "No valid version label found. Exiting."
          exit 1
          fi
    only:
        - merge_requests
        - production
    rules:
        - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "production"'
        - changes:
              - src/**/*
              - public/**/*
              - Dockerfile
              - package.json
              - package-lock.json

# Get the version tag for the job
get_version:
    stage: version
    image: $NODE_IMAGE
    script:
        - export TAG=$(node -p "require('./package.json').version")
        - echo "TAG=$TAG" >> variables.env
    before_script: []
    services: []
    artifacts:
        reports:
            dotenv: variables.env
    only:
        - production

Updated version
  package.json
Due: get_project_version, create_release, update_version

Updated docker link for github action
  .github/workflows/ci.yml
Due: none

Updated release action
  .github/workflows/ci.yml
Due: none

Updated version fetching in GitHub CI
  .github/workflows/ci.yml
Due: none

Updated CI
  .github/workflows/ci.yml
Due: none

Updated default commit message
  .gitlab/merge_request_templates/Default.md
Due: none

Added basic onboarding pages and navigation footer
  .gitignore
  package-lock.json
  src/app/(unprotected)/layout.tsx
  src/app/(unprotected)/onboarding/[step]/Navigation.tsx
  src/app/(unprotected)/onboarding/[step]/page.tsx
  src/app/(unprotected)/onboarding/page.tsx
Due: get_project_version, create_release, update_version

Added onboarding initialisation and redirection, and improved how the current page was managed
  src/app/(unprotected)/onboarding/[step]/Navigation.tsx
  src/app/(unprotected)/onboarding/[step]/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/[step]/Steps/PersonalDetails.tsx
  src/app/(unprotected)/onboarding/[step]/page.tsx
  src/app/(unprotected)/page.tsx
  src/lib/db/local/init/6. Dashboard Onboarded State.sql
  src/lib/db/local/queries.ts
Due: update_version

Finished basic onboarding flow (Not yet functional)
  __tests__/onboarding.test.tsx
  src/app/(protected)/dashboard/layout.tsx
  src/app/(unprotected)/api/public/validate-connection-string/route.ts
  src/app/(unprotected)/onboarding/[step]/Navigation.tsx
  src/app/(unprotected)/onboarding/[step]/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/[step]/Steps/PersonalDetails.tsx
  src/app/(unprotected)/onboarding/go/Bullets.tsx
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/go/Steps/DatabaseConnection.tsx
  src/app/(unprotected)/onboarding/go/Steps/Password.tsx
  src/app/(unprotected)/onboarding/go/Steps/PersonalDetails.tsx
  src/app/(unprotected)/onboarding/go/Steps/Username.tsx
  src/app/(unprotected)/onboarding/go/page.tsx
  src/app/(unprotected)/onboarding/page.tsx
  src/app/(unprotected)/page.tsx
  src/lib/db/remote/index.ts
  src/styles/dashboard.css
  src/styles/default.css
Due: update_version

Updated onboarding process
  .gitignore
  src/app/(protected)/dashboard/layout.tsx
  src/app/(unprotected)/api/public/pass-onboarding/route.ts
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/go/page.tsx
  src/app/(unprotected)/onboarding/page.tsx
  src/lib/db/local/queries.ts
Due: update_version

Updated empty test
  __tests__/hello.test.tsx
  __tests__/onboarding.test.tsx
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
Due: update_version

Removed unused variable
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
Due: update_version

Updated docker compose for development
  docker/docker-compose.yml
Due: none

Updated how settings are fetched, and implemented a masking function for the mongodb URI
  src/app/(protected)/dashboard/settings/GeneralSettings.tsx
  src/lib/db/local/queries.ts
Due: update_version

Fixed linting errors
  src/lib/db/local/queries.ts
Due: update_version

Fixed docker build errors
  src/lib/db/local/queries.ts
Due: update_version

Brought branch up to date with parent
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/go/Steps/Email.tsx
  src/lib/db/local/init/1. Config Table.sql
  src/lib/db/local/init/2. Users Table.sql
  src/lib/db/local/init/3. Dashboard Title.sql
  src/lib/db/local/init/4. Authentication Background.sql
  src/lib/db/local/init/5. Content Types.sql
  src/lib/db/local/init/6. Dashboard Logo.sql
  src/lib/db/local/init/7. Dashboard Onboarded State.sql
Due: update_version

Fixed duplicate export error
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
Due: update_version

Fixed layout issues and a bit of metadata
  src/app/(unprotected)/auth/layout.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/app/(unprotected)/onboarding/layout.tsx
Due: update_version

Started creating login form
  package-lock.json
  package.json
  public/img/providers/google.webp
  public/img/providers/microsoft.webp
  public/img/providers/okta.webp
  public/js/login.js
  src/app/(unprotected)/api/auth/signin/route.ts
  src/app/(unprotected)/auth/login/IdentityProviders.tsx
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/app/(unprotected)/layout.tsx
  src/lib/auth.ts
  src/lib/db/local/index.ts
  src/lib/db/local/queries.ts
  src/lib/db/remote/init.ts
Due: get_project_version, create_release, update_version

Updated database initialisation
  public/img/default-auth-background.jpg
  src/lib/db/local/index.ts
  src/lib/db/local/init/1. Config Table.sql
  src/lib/db/local/init/2. Users Table.sql
  src/lib/db/local/init/3. Dashboard Title.sql
  src/lib/db/local/init/4. Authentication Background.sql
  src/lib/db/local/init/5. Content Types.sql
  src/lib/db/local/init/6. Dashboard Logo.sql
  src/lib/db/local/init/6. Dashboard Onboarded State.sql
  src/lib/db/local/init/7. Dashboard Onboarded State.sql
  src/lib/db/local/queries.ts
  src/lib/db/remote/index.ts
  src/lib/db/remote/init.ts
  src/lib/init.ts
Due: update_version

Migrated app to use mongo for settings
  package-lock.json
  package.json
  src/app/(protected)/api/config/all/route.ts
  src/app/(protected)/api/config/auth-background/route.ts
  src/app/(protected)/api/config/content-types/route.ts
  src/app/(protected)/api/config/dashboard-logo/route.ts
  src/app/(protected)/api/config/database/route.ts
  src/app/(protected)/api/config/title/route.ts
  src/app/(protected)/dashboard/layout.tsx
  src/app/(protected)/dashboard/settings/GeneralSettings.tsx
  src/app/(unprotected)/api/public/auth-background/route.ts
  src/app/(unprotected)/api/public/dashboard-logo/route.ts
  src/app/(unprotected)/api/public/pass-onboarding/route.ts
  src/app/(unprotected)/api/public/validate-connection-string/route.ts
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/app/(unprotected)/layout.tsx
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/go/Steps/DatabaseConnection.tsx
  src/app/(unprotected)/onboarding/page.tsx
  src/app/(unprotected)/page.tsx
  src/components/navigation/NavBar.tsx
  src/lib/auth.ts
  src/lib/db/local/queries.ts
  src/lib/db/remote/index.ts
  src/lib/db/remote/queries.ts
Due: get_project_version, create_release, update_version

Updated some styling and onvoarding form
  Dockerfile
  docker/docker-compose.yml
  public/js/onboarding.js
  src/app/(protected)/dashboard/settings/GeneralSettings.tsx
  src/app/(unprotected)/api/public/auth-background/route.ts
  src/app/(unprotected)/api/public/dashboard-logo/route.ts
  src/app/(unprotected)/auth/login/IdentityProviders.tsx
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/go/Steps/Email.tsx
  src/app/(unprotected)/onboarding/go/Steps/Password.tsx
  src/app/(unprotected)/onboarding/go/Steps/PersonalDetails.tsx
  src/app/(unprotected)/onboarding/go/Steps/Username.tsx
  src/app/(unprotected)/onboarding/go/page.tsx
  src/app/(unprotected)/onboarding/layout.tsx
  src/app/(unprotected)/onboarding/page.tsx
  src/lib/db/remote/index.ts
  src/lib/db/remote/init.ts
  src/lib/db/remote/queries.ts
  src/lib/init.ts
Due: get_project_version, create_release, update_version

Refactor authentication imports and migrate to MongoDB; add synchronous instance ID retrieval
  package-lock.json
  package.json
  src/app/(protected)/dashboard/layout.tsx
  src/app/(protected)/dashboard/page.tsx
  src/app/(protected)/dashboard/profile/page.tsx
  src/app/(unprotected)/api/auth/[...nextauth]/route.ts
  src/app/(unprotected)/api/auth/signin/route.ts
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/lib/auth/auth.ts
  src/lib/auth/db.ts
  src/lib/db/local/queries.ts
  src/middleware.ts
Due: get_project_version, create_release, update_version

Add authentication checks to project-related API routes
  src/app/(protected)/api/config/all/route.ts
  src/app/(protected)/api/config/auth-background/route.ts
  src/app/(protected)/api/config/content-types/route.ts
  src/app/(protected)/api/config/dashboard-logo/route.ts
  src/app/(protected)/api/config/title/route.ts
  src/app/(protected)/api/projects/all/route.ts
  src/app/(protected)/api/projects/create/route.ts
  src/app/(protected)/api/projects/delete/route.ts
  src/app/(protected)/api/projects/update/route.ts
Due: update_version

Finalised onboarding functionality and admin user creation; add middleware for redirection based on onboarding state
  src/app/(unprotected)/api/auth/[...nextauth]/route.ts
  src/app/(unprotected)/api/public/get-onboarded/route.ts
  src/app/(unprotected)/api/public/pass-onboarding/route.ts
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/layout.tsx
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/go/page.tsx
  src/app/(unprotected)/page.tsx
  src/lib/auth/auth.ts
  src/middleware.ts
Due: get_project_version, create_release, update_version

Enhance onboarding process: remove console log, update user return object in auth, and add onboarding layout component
  public/img/default-profile-image.jpg
  src/app/(unprotected)/onboarding/go/OnboardingForm.tsx
  src/app/(unprotected)/onboarding/layout.tsx
  src/lib/auth/auth.ts
  src/lib/auth/db.ts
Due: update_version

Updated version for minor release
  package.json
Due: get_project_version, create_release, update_version

Refactor ESLint rules and clean up unused imports in dashboard layout, login page, and middleware
  .eslintrc.json
  src/app/(protected)/dashboard/layout.tsx
  src/app/(unprotected)/api/public/get-onboarded/route.ts
  src/app/(unprotected)/auth/login/page.tsx
  src/middleware.ts
Due: get_project_version, create_release, update_version

Update default auth background URL to a dynamic source
  src/app/(protected)/api/config/auth-background/route.ts
Due: update_version

Refactor middleware redirection logic to use protocol-aware URL construction
  src/middleware.ts
Due: get_project_version, create_release, update_version

Bump version to 0.1.1
  package.json
Due: get_project_version, create_release, update_version

Add OAuth validation checks and update identity provider display logic
  public/img/providers/github.webp
  src/app/(unprotected)/auth/login/IdentityProviders.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/lib/auth/validateOAuth.ts
Due: update_version

Bump version to 0.1.2 and update middleware to use environment-based protocol for redirects
  package.json
  src/middleware.ts
Due: get_project_version, create_release, update_version

Add Google authentication provider to NextAuth configuration
  src/lib/auth/auth.ts
Due: update_version

Add GitHub authentication provider to NextAuth configuration
  src/lib/auth/auth.ts
Due: update_version

Remove Okta OAuth checks and update identity provider display logic
  src/app/(unprotected)/auth/login/IdentityProviders.tsx
  src/lib/auth/validateOAuth.ts
Due: update_version

Bump version to 0.2.0 in package.json
  package.json
Due: get_project_version, create_release, update_version

Implement healthcheck API and update redirection logic for onboarding
  Dockerfile
  src/app/(unprotected)/api/healthcheck/route.ts
  src/app/(unprotected)/onboarding/page.tsx
  src/middleware.ts
Due: get_project_version, create_release, update_version
