Repository ElBeenMachine/portfolio-dashboard-template: changes, and which CircleCI parameters are due for each by the changed paths.
All: RUN_TESTS, RUN_PUBLISH

Refactor navigation components, add greeting function, and update project display
  package-lock.json
  package.json
  src/app/(protected)/dashboard/(home)/page.tsx
  src/app/(protected)/dashboard/code/page.tsx
  src/app/(protected)/dashboard/layout.tsx
  src/app/(protected)/dashboard/page.tsx
  src/app/(protected)/dashboard/projects/page.tsx
  src/components/navigation/Breadcrumbs.tsx
  src/components/navigation/Logo.tsx
  src/components/navigation/NavBar.tsx
  src/components/projects/CreateButton.tsx
  src/components/projects/projectsPane.tsx
  src/lib/db/remote/init.ts
  src/lib/db/remote/queries.ts
  src/lib/greetings.ts
Due: RUN_TESTS, RUN_PUBLISH

Bump version to 0.2.1 in package.json
  package.json
Due: RUN_TESTS, RUN_PUBLISH

Add SAST stage to CI configuration
  .gitlab-ci.yml
Due: none

Refactor NavBar component to use structured types for navigation items
  src/components/navigation/NavBar.tsx
Due: RUN_TESTS, RUN_PUBLISH

Fix: Add redirect handling for `/dashboard/editor` route in middleware
  src/middleware.ts
Due: RUN_TESTS, RUN_PUBLISH

Bump version to 0.2.2 in package.json
  package.json
Due: RUN_TESTS, RUN_PUBLISH

Fix: Render content type buttons conditionally based on length
  src/components/navigation/NavBar.tsx
Due: RUN_TESTS, RUN_PUBLISH

Feat: Update metadata generation for authentication and onboarding layouts
  src/app/(unprotected)/auth/layout.tsx
  src/app/(unprotected)/auth/login/page.tsx
  src/app/(unprotected)/onboarding/go/page.tsx
  src/app/(unprotected)/onboarding/layout.tsx
  src/app/(unprotected)/onboarding/page.tsx
Due: RUN_TESTS, RUN_PUBLISH

Chore: Bump version to 0.2.3 in package.json
  package.json
Due: RUN_TESTS, RUN_PUBLISH

Feat: Refactor dashboard layout and enhance styling with new header component
  src/app/(protected)/dashboard/(home)/page.tsx
  src/app/(protected)/dashboard/layout.tsx
  tailwind.config.ts
Due: RUN_TESTS, RUN_PUBLISH

Feat: Replace Breadcrumbs component with Header and ProfileButton; refactor NavBar for improved navigation
  src/components/navigation/Breadcrumbs.tsx
  src/components/navigation/Header.tsx
  src/components/navigation/NavBar.tsx
  src/components/navigation/NavButton.tsx
  src/components/navigation/NavToggle.tsx
  src/components/navigation/ProfileButton.tsx
  src/components/navigation/ProfileLink.tsx
Due: RUN_TESTS, RUN_PUBLISH

Feat: Add warning message about portfolio property access and edit permissions in dashboard
  src/app/(protected)/dashboard/(home)/page.tsx
Due: RUN_TESTS, RUN_PUBLISH

Feat: Update input components to use rounded-lg styling for consistency across the application
  src/app/(protected)/dashboard/(home)/page.tsx
  src/app/(protected)/dashboard/editor/[_id]/Editor.tsx
  src/app/(protected)/dashboard/editor/[_id]/TextInput.tsx
  src/app/(protected)/dashboard/profile/SignOutButton.tsx
  src/app/(protected)/dashboard/settings/GeneralSettings.tsx
  src/app/(protected)/dashboard/settings/inputs.tsx
  src/app/(unprotected)/auth/login/IdentityProviders.tsx
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/onboarding/go/Steps/Email.tsx
  src/app/(unprotected)/onboarding/go/Steps/Password.tsx
  src/app/(unprotected)/onboarding/go/Steps/PersonalDetails.tsx
  src/app/(unprotected)/onboarding/go/Steps/Username.tsx
  src/app/(unprotected)/onboarding/page.tsx
  src/components/navigation/NavButton.tsx
  src/components/projects/projectsPane.tsx
Due: RUN_TESTS, RUN_PUBLISH

Feat: Refactor dashboard components for improved layout and styling; replace SignOutButton with new SignOut component
  src/app/(protected)/dashboard/code/page.tsx
  src/app/(protected)/dashboard/editor/[_id]/Editor.tsx
  src/app/(protected)/dashboard/editor/[_id]/page.tsx
  src/app/(protected)/dashboard/profile/SignOutButton.tsx
  src/app/(protected)/dashboard/profile/page.tsx
  src/app/(protected)/dashboard/projects/page.tsx
  src/app/(protected)/dashboard/settings/GeneralSettings.tsx
  src/app/(protected)/dashboard/settings/SettingsSection.tsx
  src/app/(protected)/dashboard/settings/page.tsx
  src/components/navigation/Header.tsx
  src/components/navigation/NavBar.tsx
  src/components/navigation/NavToggle.tsx
  src/components/navigation/ProfileButton.tsx
  src/components/navigation/SignOut.tsx
  src/components/projects/CreateButton.tsx
Due: RUN_TESTS, RUN_PUBLISH

Feat: Update version to 0.3.1 and enhance greeting function to handle non-string names
  package.json
  src/lib/greetings.ts
Due: RUN_TESTS, RUN_PUBLISH

Feat: Update README to reflect completion of onboarding experience and authentication features
  README.md
Due: none

Feat: Enhance dashboard layout with improved spacing and add list style for better readability
  src/app/(protected)/dashboard/layout.tsx
  src/styles/default.css
Due: RUN_TESTS, RUN_PUBLISH

Feat: Implement project archiving functionality and refactor delete logic
  src/app/(protected)/api/projects/archive/route.ts
  src/app/(protected)/dashboard/editor/[_id]/Editor.tsx
  src/components/projects/projectsPane.tsx
  src/lib/db/remote/queries.ts
  src/types/Project.ts
Due: RUN_TESTS, RUN_PUBLISH

Feat: Bump version to 0.4.1 in package.json
  package.json
Due: RUN_TESTS, RUN_PUBLISH

Feat: Add audit trail functionality for project operations and update related queries
  src/app/(protected)/api/config/auth-background/route.ts
  src/app/(protected)/api/config/dashboard-logo/route.ts
  src/app/(protected)/api/config/title/route.ts
  src/app/(protected)/api/projects/archive/route.ts
  src/app/(protected)/api/projects/create/route.ts
  src/app/(protected)/api/projects/update/route.ts
  src/lib/db/remote/init.ts
  src/lib/db/remote/queries.ts
Due: RUN_TESTS, RUN_PUBLISH

Refactor: Remove unused audit trail import from API route files
  src/app/(protected)/api/config/auth-background/route.ts
  src/app/(protected)/api/config/dashboard-logo/route.ts
  src/app/(protected)/api/config/title/route.ts
  src/lib/db/remote/queries.ts
Due: RUN_TESTS, RUN_PUBLISH

Refactor: Update audit trail implementation for project actions and introduce audit interface
  src/app/(protected)/api/projects/archive/route.ts
  src/app/(protected)/api/projects/create/route.ts
  src/app/(protected)/api/projects/update/route.ts
  src/lib/db/remote/queries.ts
  src/types/audit.interface.d.ts
  src/types/navContentTypes.interface.d.ts
  src/types/project.interface.d.ts
Due: RUN_TESTS, RUN_PUBLISH

Refactor: Update import paths for project and navigation types, enhance CreateButton routing, and improve dashboard layout with audit log integration
  src/app/(protected)/dashboard/(home)/page.tsx
  src/app/(protected)/dashboard/editor/[_id]/Editor.tsx
  src/app/(protected)/dashboard/editor/[_id]/TextInput.tsx
  src/app/(protected)/dashboard/projects/page.tsx
  src/components/navigation/Header.tsx
  src/components/navigation/NavBar.tsx
  src/components/projects/CreateButton.tsx
  src/components/projects/projectsPane.tsx
Due: RUN_TESTS, RUN_PUBLISH

Refactor: Move keyboard shortcut handling for saving projects to a new useEffect and clean up error handling in save function
  src/app/(protected)/dashboard/editor/[_id]/Editor.tsx
Due: RUN_TESTS, RUN_PUBLISH

Bump version to 0.4.2 and increase audit log retrieval to 10 entries
  package.json
  src/app/(protected)/dashboard/(home)/page.tsx
Due: RUN_TESTS, RUN_PUBLISH

Bump version to 0.5.1, implement global search functionality, and enhance dashboard UI with no actions message
  package.json
  src/app/(protected)/api/search/route.ts
  src/app/(protected)/dashboard/(home)/page.tsx
  src/app/(protected)/dashboard/editor/[_id]/Editor.tsx
  src/components/navigation/Header.tsx
  src/components/navigation/Search/GlobalSearch.tsx
  src/components/navigation/Search/SearchInput.tsx
  src/components/navigation/Search/SearchResults.tsx
  src/lib/db/remote/init.ts
  src/lib/db/remote/queries.ts
Due: RUN_TESTS, RUN_PUBLISH

Refactor SearchInput and SearchResults components to specify setResults parameter type as (results: any[]) => void
  src/components/navigation/Search/SearchInput.tsx
  src/components/navigation/Search/SearchResults.tsx
Due: RUN_TESTS, RUN_PUBLISH

Refactor GlobalSearch, SearchInput, and SearchResults components to use React.Dispatch for setResults parameter type
  src/components/navigation/Search/GlobalSearch.tsx
  src/components/navigation/Search/SearchInput.tsx
  src/components/navigation/Search/SearchResults.tsx
Due: RUN_TESTS, RUN_PUBLISH

Add new file
  LICENSE
Due: none

Update CI configurations to target pre-production branch and adjust ESLint settings in Next.js config
  .circleci/continue_config.yml
  .gitlab-ci.yml
  next.config.ts
Due: RUN_PUBLISH

Replace CircleCI configuration with updated paths and workflows; add GitLab CI stages for documentation, testing, and deployment
  .circleci/old.config.yml.txt
  .circleci/old.continue_config.yml.txt
  .gitlab-ci.yml
Due: none

Add dummy job to GitLab CI to ensure pipeline always runs
  .gitlab-ci.yml
Due: none

Update GitLab CI rules to trigger dummy job on push events
  .gitlab-ci.yml
Due: none

Refactor GitLab CI configuration to add an always_run stage and adjust rules for dummy job execution
  .gitlab-ci.yml
Due: none

Update Docker image version in GitLab CI configuration
  .gitlab-ci.yml
Due: none

Update always_run job rules to trigger on push events
  .gitlab-ci.yml
Due: none

Update Docker login credentials and increment package version to 0.5.2
  .gitlab-ci.yml
  package.json
Due: RUN_TESTS, RUN_PUBLISH

Refactor GitLab CI configuration to remove rules from lint_code and unit_tests jobs, and add dependencies for build_project job
  .gitlab-ci.yml
Due: none

Update GitLab CI configuration to exclude lint_code and unit_tests jobs from main, production, and pre-production branches
  .gitlab-ci.yml
Due: none

Remove dependencies on lint_code and unit_tests jobs from build_project in GitLab CI configuration
  .gitlab-ci.yml
Due: none

Path conditions:
  RUN_TESTS: (((((((any of: __tests__/.*) or (any of: jest.config.ts)) or (any of: public/.*)) or (any of: src/.*)) or (any of: Dockerfile)) or (any of: Dockerfile)) or (any of: package.json)) or (any of: package-lock.json)
  RUN_PUBLISH: ((((((((any of: public/.*) or (any of: src/.*)) or (any of: .dockerignore)) or (any of: next.config.ts)) or (any of: package.json)) or (any of: package-lock.json)) or (any of: postcss.config.mjs)) or (any of: tailwind.config.ts)) or (any of: tsconfig.json)
