Repository ElBeenMachine/portfolio-dashboard-template: changes, and which CircleCI parameters are due for each by the changed paths.
All: RUN_TESTS, RUN_PUBLISH

Add support for feature branches in CI configuration
  .gitlab-ci.yml
Due: none

Restrict CI job execution to pre-production and production environments only
  .gitlab-ci.yml
Due: none

Specify namespace in deployment image update for production environment
  .gitlab-ci.yml
Due: none

Correct capitalization of the production environment in CI configuration
  .gitlab-ci.yml
Due: none

Add support for environment variable to override instance ID in local database initialization
  src/lib/db/local/index.ts
  src/lib/init.ts
Due: RUN_TESTS, RUN_PUBLISH

Remove unused import of env from next-runtime-env in database initialization script
  src/lib/init.ts
Due: RUN_TESTS, RUN_PUBLISH

Add conditional rendering for search result description
  src/components/navigation/Search/SearchResults.tsx
Due: RUN_TESTS, RUN_PUBLISH

Refactor globalSearch function to remove limit parameter and adjust search results component for better responsiveness
  src/app/(protected)/api/search/route.ts
  src/components/navigation/Search/SearchResults.tsx
  src/components/projects/CreateButton.tsx
  src/lib/db/remote/queries.ts
Due: RUN_TESTS, RUN_PUBLISH

Update CI configuration to set Docker environment variables for improved build performance
  .gitlab-ci.yml
Due: none

Refactor database connection logic to use connectToDatabase function and update .dockerignore and merge request template
  .dockerignore
  .gitlab/merge_request_templates/Default.md
  src/app/(protected)/dashboard/(home)/page.tsx
  src/lib/auth/auth.ts
  src/lib/db/remote/index.ts
  src/lib/db/remote/init.ts
  src/lib/db/remote/queries.ts
Due: RUN_TESTS, RUN_PUBLISH

Add conditional check for MONGO_URI in database initialization for Docker builds
  src/lib/db/remote/index.ts
Due: RUN_TESTS, RUN_PUBLISH

Refactor database collection access to use non-null assertion for improved type safety
  src/app/(protected)/dashboard/(home)/page.tsx
  src/lib/auth/auth.ts
  src/lib/db/remote/index.ts
  src/lib/db/remote/init.ts
  src/lib/db/remote/queries.ts
Due: RUN_TESTS, RUN_PUBLISH

Refactor database connection logic to use asynchronous instance ID retrieval and improve error handling for MONGO_URI
  src/lib/db/remote/index.ts
Due: RUN_TESTS, RUN_PUBLISH

Update Dockerfile and docker-compose.yml to include version argument for builds
  Dockerfile
  docker/docker-compose.yml
Due: RUN_TESTS

Add task to generate release notes in README
  README.md
Due: none

Add script to generate release notes and update CI configuration
  .gitignore
  .gitlab-ci.yml
  .gitlab/scripts/generate-release-notes.sh
Due: none

Fix script execution command in CI configuration for generating release notes
  .gitlab-ci.yml
Due: none

Add release-notes.txt to .gitignore
  .gitignore
Due: none

Comment out script commands in CI configuration for release notes generation
  .gitlab-ci.yml
Due: none

Uncomment script commands in CI configuration for release notes generation
  .gitlab-ci.yml
Due: none

Remove header from release notes generation script
  .gitlab/scripts/generate-release-notes.sh
Due: none

Remove unnecessary echo statement from release notes generation script
  .gitlab/scripts/generate-release-notes.sh
Due: none

Updated CI
  .github/workflows/ci.yml
Due: none

Add metadata export for All Projects page
  src/app/(protected)/dashboard/projects/page.tsx
Due: RUN_TESTS, RUN_PUBLISH

Updated README.md
  README.md
Due: none

Enhance merge scripts to support automatic merging when pipeline succeeds
  .gitlab/scripts/merge-to-pre-prod.sh
  .gitlab/scripts/merge-to-prod.sh
Due: none

Added check for no image string present, defaulting to the locally stored dashboard image
  src/app/(protected)/api/projects/update/route.ts
Due: RUN_TESTS, RUN_PUBLISH

Re-enabled release notes script
  .gitlab-ci.yml
Due: none

Added badges to README
  README.md
Due: none

Add error handling to login form and display error messages
  src/app/(unprotected)/auth/login/LoginForm.tsx
  src/app/(unprotected)/auth/login/page.tsx
Due: RUN_TESTS, RUN_PUBLISH

Updated CI to multi platform builds distributed across multiple nodes
  .gitlab-ci.yml
Due: none

Fix job dependency in release creation stage
  .gitlab-ci.yml
Due: none

Update Docker service version in CI configuration
  .gitlab-ci.yml
Due: none

Comment out DOCKER_HOST variable in CI configuration
  .gitlab-ci.yml
Due: none

Re-enable DOCKER_HOST variable for build_arm64 service in CI configuration
  .gitlab-ci.yml
Due: none

Add DOCKER_HOST variable for build_project in CI configuration
  .gitlab-ci.yml
Due: none

Update build_project job to include arm64 tag and remove DOCKER_HOST variable
  .gitlab-ci.yml
Due: none

Add DOCKER_HOST variable to CI configuration
  .gitlab-ci.yml
Due: none

Update Docker images in CI configuration to use version 20.10.16 and refactor DIND service references
  .gitlab-ci.yml
Due: none

Add wait for Docker daemon in build_project job
  .gitlab-ci.yml
Due: none

Path conditions:
  RUN_TESTS: (((((((any of: __tests__/.*) or (any of: jest.config.ts)) or (any of: public/.*)) or (any of: src/.*)) or (any of: Dockerfile)) or (any of: Dockerfile)) or (any of: package.json)) or (any of: package-lock.json)
  RUN_PUBLISH: ((((((((any of: public/.*) or (any of: src/.*)) or (any of: .dockerignore)) or (any of: next.config.ts)) or (any of: package.json)) or (any of: package-lock.json)) or (any of: postcss.config.mjs)) or (any of: tailwind.config.ts)) or (any of: tsconfig.json)
